@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

a:active {
    color: green;
  }

a:visited {
    color: white;
  }

  * {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
  }
  
  div {
    position:relative;
    z-index: 2;
  }
  
  body {
    background-color: #333;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .footer {
    width:450px;
    text-align:center;
    display:block;
    margin:15px auto 30px auto;
    font-size:0.8em;
    color:#fff;
  
  }

  #quote-box {
    border-radius:3px;
    position:relative;
    margin:8% auto auto auto;
    width:450px;
    padding:40px 50px;
    display:table;
    background-color:rgb(128, 184, 240);
    text-align:center;
      width:450px;
      height:auto;
      clear:both;
      font-weight:500;
      font-size:1.5em;
    }
    
    .quote-author {
        width:450px;
        height:auto;
        clear:both;
        padding-top:20px;
        font-size:.8em; 
        text-align:right;
      } 


      .buttons{
        width:450px;
        display: block;
        /* background-color:rgb(122, 132, 125); */
      }

      .tweetbutton{
        width:50px; 
        margin:auto;
        height:30px;
         border:none;
         border-radius:10%;
         border:rgb(118, 117, 117) 1px solid;
         color:rgb(226, 15, 15);
         background-color:rgb(19, 112, 243);
         outline:none;
         font-size:0.7em;
         text-align:center;
         padding: 2px 2px 2px 2px;
         margin-top:15px;
         cursor:pointer;
         opacity:0.9;
         float:left;
      }

     .tweetbutton:hover{
      background-color: rgb(35, 171, 240);
      border:rgb(10, 9, 9) 1px solid; 
    }
      
 #new-quote {
         width:110px; 
         margin:auto;
        /* display:block; */
          height:35px;
          border:rgb(118, 117, 117) 1px solid;
          border-radius:10%;
          color:#fff;
          background-color:rgb(19, 112, 243);
          outline:none;
          font-size:0.5em;
          text-align:center;
          padding: 5px 10px 3px 10px;
          margin-top:15px;
          cursor:pointer;
          opacity:0.9;
          float: right;
      }

      #new-quote:hover {
        background-color: rgb(35, 171, 240);
        border:rgb(10, 9, 9) 1px solid; 
      }